header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: rgb(76, 7, 59);
  color: white;
}
header h2 {
  margin-left: 3%;
}

nav a {
  padding: 10px 10px;
  background-color: rgb(76, 7, 59);
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: rgb(76, 7, 59);
  background-color: pink;
}
main {
  margin: 3vw;
}

main div.main-images {
  width: 80vw;
  height: 60vw;
  background-image: url(/images/arkafon.jpg);
  margin: 0 auto;
  background-size: cover;
  background-position: 50% 50%;
  text-align: center;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #c35aad;
}
main a {
  padding: 10px 10px;
  background-color: rgb(76, 7, 59);
  color: #ffffff;
  text-decoration: none;
  border-radius: 15px;
  font-style: italic;
}
main a:hover {
  color: rgb(76, 7, 59);
  background: pink;
  border: 1px;
}
#project {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#project a:hover {
  color: #ffffff;
  text-decoration: none;
}
#projects a {
  color: black;
  text-decoration: none;
}
#project div {
  display: inline-block;
  width: 30%;
  text-align: center;
}
#project div img {
  width: 100%;
  margin: 0 auto;
}

#project div:hover {
  background-color: rgb(59, 160, 160);
}

footer {
  text-align: center;
  padding: 10px 10px;
  background-color: rgb(76, 7, 59);
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
  padding: 10px 10px;
  background-color: rgb(76, 7, 59);
  border-radius: 15px;
}
footer a:hover {
  color: rgb(76, 7, 59);
  background: pink;
  border: 1px;
}
